*{
    margin: 0px;
    padding: 3px;
    box-sizing: border-box;
}
body{
    text-align: left;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    
}
h1{
    font-weight: 500;
   
}
#q5 {line-height: 35px;

}
#q3{
    line-height: 35px;
}
#q1{line-height: 35px;
}
